@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@charset "utf-8";
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #fff;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  min-width: 320px;
}
.clear {
  clear: both;
  display: block;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
img {
  display: block;
}
a img {
  border: 0;
}
input,
select,
textarea,
button {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
input[type="submit"],
button,
label {
  cursor: pointer;
}
textarea {
  overflow: auto;
}
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  background: transparent;
}
p,
ul,
ol {
  margin: 0;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 77px 0;
}
.logo {
  width: 111px;
  height: 111px;
  margin: 0 auto;
  display: block;
  border: 2px solid #5d5d5d;
  border-radius: 50%;
  text-align: center;
  line-height: 106px;
  font-size: 33px;
  text-transform: uppercase;
  color: #5d5d5d;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.5s ease, border-color 0.5s ease;
  -moz-transition: color 0.5s ease, border-color 0.5s ease;
  -ms-transition: color 0.5s ease, border-color 0.5s ease;
  -o-transition: color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, border-color 0.5s ease;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo b {
  font-weight: 500;
}
#wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
#wrapper .content {
  display: table-cell;
  vertical-align: middle;
  padding: 255px 0 120px;
  overflow: hidden;
}
#wrapper .variants-list {
  text-align: center;
  position: relative;
  max-width: 1000px;
  width: 78%;
  margin: 0 auto;
}
#wrapper .variants-list:before {
  position: absolute;
  top: 100%;
  margin-top: -130px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  background: #f6f6f6;
  content: '';
}
#wrapper .variants-list .item {
  float: left;
  width: 50%;
  vertical-align: bottom;
  padding: 0 5%;
  font-size: 30px;
  color: #3c3c3b;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
#wrapper .variants-list .item:hover .img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#wrapper .variants-list .item .img {
  display: block;
  position: relative;
  -webkit-transform-origin: 50% 100%;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
#wrapper .variants-list .item .img span {
  display: block;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
#wrapper .variants-list .item .img span.m {
  width: 28.25%;
  position: absolute;
  bottom: -11px;
}
#wrapper .variants-list .item .img span.s {
  width: 13.5%;
  position: absolute;
  bottom: -22px;
}
#wrapper .variants-list .item .img span .bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transform: translateZ(0);
}
#wrapper .variants-list .item .img span.l .bg {
  padding-top: 81%;
  background-image: url('../img/imac.png');
}
#wrapper .variants-list .item .img span.m .bg {
  padding-top: 142.5%;
  background-image: url('../img/ipad.png');
}
#wrapper .variants-list .item .img span.s .bg {
  padding-top: 205.56%;
  background-image: url('../img/iphone.png');
}
#wrapper .variants-list .item .img span .screen {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#wrapper .variants-list .item .img span.l .bg .screen {
  margin: 4% 4% 21.5%;
}
#wrapper .variants-list .item .img span.m .bg .screen {
  margin: 12.4% 6.2% 10.6%;
}
#wrapper .variants-list .item .img span.s .bg .screen {
  margin: 29.6% 11.1% 20.4%;
}
#wrapper .variants-list .item .img img {
  width: 100%;
}
#wrapper .variants-list .item.v-1 .img .s {
  left: 16%;
}
#wrapper .variants-list .item.v-1 .img .m {
  left: -6%;
}
#wrapper .variants-list .item.v-1:hover .img .s {
  left: 6%;
}
#wrapper .variants-list .item.v-1:hover .img .m {
  left: -20%;
}
#wrapper .variants-list .item.v-2 .img .s {
  right: 16%;
}
#wrapper .variants-list .item.v-2 .img .m {
  right: -6%;
}
#wrapper .variants-list .item.v-2:hover .img .s {
  right: 6%;
}
#wrapper .variants-list .item.v-2:hover .img .m {
  right: -20%;
}
#wrapper .variants-list .item .name {
  display: block;
  margin-top: 58px;
}
#wrapper .variants-list.hover .item {
  -webkit-transform: translate(-9%, 0);
  -moz-transform: translate(-9%, 0);
  -ms-transform: translate(-9%, 0);
  -o-transform: translate(-9%, 0);
  transform: translate(-9%, 0);
}
#wrapper .variants-list.hover .item:hover {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#wrapper .variants-list.hover .item:hover ~ .item {
  -webkit-transform: translate(9%, 0);
  -moz-transform: translate(9%, 0);
  -ms-transform: translate(9%, 0);
  -o-transform: translate(9%, 0);
  transform: translate(9%, 0);
}
#footer {
  height: 37px;
  margin-top: -37px;
  position: relative;
}
#footer .copyright {
  text-align: center;
  font-size: 14px;
  color: #a8a8a8;
}
#footer .copyright a {
  color: #2684c3;
}
@media (max-width: 1024px) {
  #wrapper .variants-list:before {
    margin-top: -105px;
  }
  #wrapper .variants-list .item {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  #header {
    padding: 20px 0 30px;
  }
  #wrapper .content {
    padding: 170px 0 0;
  }
  #wrapper .variants-list:before {
    display: none;
  }
  #wrapper .variants-list .item {
    width: 80%;
    float: none;
    display: block;
    margin: 0 auto 50px;
  }
  #wrapper .variants-list.hover .item,
  #wrapper .variants-list.hover .item:hover ~ .item {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #footer {
    margin-top: 0;
  }
}
