@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #ebf3f3;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color:#3c3c3b;
    min-width: 1000px;
}

.clear {
    clear: both;
    display: block;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a {
    outline: none;
    text-decoration: underline;
    background: transparent;
    color:#2684c3;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 36px 35px;
}

.container .header {
    background: #323b41;
    padding: 29px 0;
    margin-bottom: 29px;
}

.container .header .logo {
    width: 108px;
    margin: 0 auto;
    display: block;
}

.container .header .logo img {
    width: 100%;
}

.container .wrapper {
}

.container .wrapper h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container .wrapper .block + .block {
    padding-top:30px;
    margin-top: 30px;
    border-top:1px solid #dcdcdc;
}

.container .wrapper .block p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 5px;
}

.container .wrapper .block p strong {
    font-size: 14px;
}

.container .wrapper .block p strong a {
}

.container .wrapper .block p a {
}

.container .wrapper .block h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 18px;
}

.container .wrapper .block ol {
    margin-left: 22px;
}

.container .wrapper .block ol > li {
    list-style: decimal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
}

.container .wrapper .block ol > li + li {
    margin-top: 15px;
}

.container .wrapper .block ol li p {
    font-weight: normal;
}

.container .wrapper .block ol li p strong {
}

.container .wrapper .block ul {
    margin-bottom: 5px;
}
.container .wrapper .block ol li ul {
    font-weight: normal;
    margin-left: 6px;
}

.container .wrapper .block ul > li {
    list-style: none;
    padding-left: 8px;
    position: relative;
    font-size: 13px;
    line-height: 23px;
}

.container .wrapper .block ul > li:before {
    width: 3px;
    height: 3px;
    background: #3c3c3b;
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 50%;
}

.container .wrapper .block ul {

}

.container .wrapper .block ul li {}

.container .wrapper .block p code {

}

.container .wrapper .block table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.container .wrapper .block table tr {}

.container .wrapper .block table tr th,
.container .wrapper .block table tr td {
    line-height: 19px;
    padding: 10px 32px;
    vertical-align: top;
}

.container .wrapper .block table tr th + th,
.container .wrapper .block table tr td + td {
    border-left:1px solid #e6e6e6;
}

.container .wrapper .block table tr th:first-child,
.container .wrapper .block table tr td:first-child {
    padding-left: 0;
    width: 18%;
}

.container .wrapper .block table tr th {
    font-size: 14px;
    font-weight: bold;
}

.container .wrapper .block table tr td {
    font-size: 13px;
    border-top:1px solid #e6e6e6;
}

.container .wrapper .block table code {
    display: block;
    word-wrap: break-word;
}

.container code {
    color:#949699;
}